<div style="margin-top:5%"  ng-controller="LoginCtrl">
    <div flex="50" style="margin: 0 auto; text-align: center" layout-padding layout-margin>
        <div layout="column">
            <img src="/res/img/icon.png" class="icon center"/>
            <br/>
            <md-button class="md-primary md-raised center" style="width: 300px"
                 ng-href="https://www.facebook.com/v2.8/dialog/oauth?client_id={{clientId}}&redirect_uri={{redirectUri}}&response_type=token&scope=public_profile">
                Login With Facebook
            </md-button>
        </div>
    </div>
</div>
</div>