<div ng-controller="NavCtrl">

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4" style="height: 100%">

        <md-toolbar class="md-theme-indigo" layout="row">
            <h1 class="md-toolbar-tools">My Offices</h1>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close" ng-click="toggleLeft()" layout-margin>
                <i class="fa fa-times fa-lg"></i>
            </md-button>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="office in officeService.offices" ng-click="selectOffice(office)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{office.name}}</h3>
                        <h4>{{office.location}}</h4>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        <md-divider></md-divider>

        <div layout="row">
            <md-button class="md-primary" ng-click="add()" flex>Add New Class/Office</md-button>
        </div>

    </md-sidenav>

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button margin-sm" aria-label="Settings" ng-click="toggleLeft()" ng-disabled="!userName">
                <md-icon class="fa fa-navicon fa-2x"></md-icon>
            </md-button>
            <img src="/res/img/icon.png" style="max-height:60%; max-width:60%; margin: 10px"/>
            <h2>
                <span>Prof. Q</span>
            </h2>
            <span flex></span>
            <span style="color: white; margin-right: 20px">{{userName}}</span>
            <img style="max-height:70%; max-width:70%;" ng-src="{{pictureUrl}}"/>
            <md-button class="md-icon-button margin-sm" aria-label="Logout" alt="logout" ng-click="logout()" ng-disabled="!userName">
                <md-icon class="fa fa-sign-out fa-2x"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
